* {
  margin: 0px;
  font-family: monospace;
}

body {
  background-color:#DAE0E6;
}

navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 20px 200px;
}

navbar .logo {
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
}

button {
  width: 120px;
  height: 35px;
  border: 2px solid;
  background-color: #0079D3;
  margin: 0px 30px;
  border-radius: 25px;
  cursor: pointer;
  transition-duration: 0.3s;
  font-size: 14px;
  font-weight: 500;
  color:white;
  text-align: center;
}

button:hover {
  background-color: #008CBA;
}

.buttons-group input {
  width: 150px;
}

.center-container {
  margin: 25px 200px;
}

.center-text {
  text-align: center;
  margin-top: 150px ;
}

.center-text-signup {
  text-align: center;
  margin-top: 100px ;
}

.center-text-dashboard {
  text-align: center;
  margin-top: 50px;
}

.center-text h1, .center-text-signup h1,
.center-text-dashboard h1 {
  margin: 25px 0px;
  font-size: 35px;
  font-weight: 500;
}

.center-text h2, .center-text-signup h2,
.center-text-dashboard h2 {
  margin: 15px 0px;
  font-size: 20px;
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main {
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.main button {
  width: 100px;
  margin: 0px 10px;
}

table th {
  width: 150px;
  font-size: 20px;
}

table td {
  font-size: 20px;
}

table tbody {
  margin-top: 100px;
}

.actions {
  width: 300px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  width: 100px;
}

.input-group select {
  width: 200px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

.long-btn {
  width: 150px;
}