<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring boot email template with Thymeleaf</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 30px;
        }

        text {
            font-family: monospace;
        }

    </style>
</head>
<body>
<p>
    Hi,
</p>

<text th:text="${name}"></text>'s birthday is on <text th:text="${birthdate}"></text> <text th:text="${birthmonth}"></text>

<p>
    You are getting this notification because you have subscribed to Birthday-Notifier service which you can
    <a href="http://birthdaynotifier-env.eba-gmdckq8h.ap-south-1.elasticbeanstalk.com/">
        login here
    </a>
</p>

<p>
    Regards, <br />
    Birthday Notifier
</p>

</body>
</html>